/* todo stílar, notið úr v8 í vef1-2025! */






* {
  margin: 0;
  padding: 0;
}

html {
  background-color: #ff7e7e;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

:root {
  --spacing: 1.5rem;
  --max-width: 50rem;

  --font-size-button: 1rem;
  --font-family: -system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;

  --color-light-gray: #f5f5f5;
  --color-background-code: var(--color-light-gray);
  --color-button: #80eaff;
  --color-button-destructive: #ff7e7e;

  --border-button: none;
  --border-radius-button: 5px;
}

.hidden {
  display: none !important;
}

.empty {
  font-style: italic;
}

html {
  font-family: var(--font-family);
}

input,
textarea,
button {
  font-size: inherit;
}

button {
  padding: 0.5rem 1rem;
  height: 100%;
  cursor: pointer;

  font-size: var(--font-size-button);

  background-color: var(--color-button);
  border: var(--border-button);
  border-radius: var(--border-radius-button);
}

button.destructive {
  background-color: var(--color-button-destructive);
}

main {
  display: flex;
  flex-direction: column;
  gap: calc(var(--spacing) * 2);

  margin: var(--spacing) auto;
  padding-inline: var(--spacing);
  max-width: var(--max-width);
}

.todo-list {
  display: flex;
  flex-direction: column;
  gap: calc(var(--spacing) * 1.5);
}

.todo-list form {
  display: flex;
  flex-direction: column;
  gap: calc(var(--spacing) / 2);
}

.todo-list .input-group {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: calc(var(--spacing) / 4);
}

.todo-list form {
  display: flex;
  gap: var(--spacing);
  align-items: center;
}

.todo-list li {
  list-style: none;
  padding-top: 10;
  padding-bottom: 10;
}

.todo-list form input[type="text"] {
  flex: 1;
  min-width: 0;
  padding: calc(var(--spacing) / 4);
}

.todo-list form input[type="checkbox"] {
  flex: 0 0 auto;
}

.todo-list .list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.todo-list .list li,
.todo-list .list li label {
  flex: 1;
  display: flex;
  align-items: center;
  gap: calc(var(--spacing) / 2);
}

.todo-list .list li.finished .item {
  opacity: 0.5;
  text-decoration: line-through;
}

.todo-list .list li input {
  width: 1.25rem;
  height: 1.25rem;
  cursor: pointer;
}

.todo-list .list li .item {
  flex: 1;
  word-break: break-word;
}

.todo-list .list li button {
  background: none;
  border: none;
  font-size: 1.25rem;
  cursor: pointer;
}

@media (min-width: 500px) {
  .todo-list form {
    flex-direction: row;
    align-items: flex-end;
  }
}

.buttons {
  display: grid;
  grid-template-columns: 90% 10%;
  gap: calc(var(--spacing) / 2);
}
